:root {
    --SlideWidth: 95vw;
    --SlideHeight: 500px;
}

* {
    font-family: cursive;
}

.bg-lightGreen {
    background: linear-gradient(to top, #d3e8d6, #8faf92);
}

.bg-grey {
    background-color: rgba(0, 0, 0, 0.363);
}

.text-green {
    color: #005300;
}

.HoverEffect-1 {
    transition-duration: .3s;
}

.HoverEffect-1:hover {

    border-bottom: 1px solid green;

}

input:focus {
    outline: none;
}

#Suggessions {
    display: none;
    left: 0;
    top: 110%;
}

.suggession {
    transition-duration: 0.3s;
    text-transform: capitalize;
}

.suggession:hover {
    opacity: 1 !important;
    background-color: rgba(73, 72, 72, 0.103);
    cursor: pointer;
}

.LogoText {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#CategoryContainer::-webkit-scrollbar {
    /* display: none; */
    display: block;
    height: 1px;
    /* margin-top: ; */
}

#CategoryContainer::-webkit-scrollbar-track {

    background-color: #8faf922c;
    border-radius: 50px;
    overflow: hidden;
}

#CategoryContainer::-webkit-scrollbar-thumb {
    background-color: #00530067;
    border-radius: 50px;
    cursor: grab;
}

#CategoryContainer::-webkit-scrollbar-thumb:active {
    cursor: grabbing;

}

.Clickable {
    cursor: pointer;
    transition-duration: 0.1s;
}

.Clickable:active {
    cursor: default;
}

 