@font-face {
    font-family: Jua;
    src: url("../fonts/Jua/Jua-Regular.ttf");
    font-weight: 400;
}

* {
    font-family: Jua;
}

:root {
    --Color_1: #198754;
    --Color_2: #000000;
    --Color_3: #ffffff;
    --Color_4: rgb(0,0,0,0.5);
    --fs70: 70px;
    --fs60: 60px;
    --fs45: 45px;
    --fs42: 42px;
    --fs29: 29px;
    --fs26: 26px;
    --fs24: 24px;
    --fs20: 20px;
    --fs18: 18px;
    --fs15: 15px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}


.SearchBar {
    
    height: inherit;
    flex-grow: 1;   
    border: 0;
} 
input:focus {
    outline: none;
} 

#Suggessions {
    display: none;
    left: 0;
    top: 110%;
}

.suggession {
    transition-duration: 0.3s;
    text-transform: capitalize;
}

.suggession:hover {
    opacity: 1 !important;
    background-color: rgba(73, 72, 72, 0.103);
    cursor: pointer;
}

.LogoText {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}



#CategoryContainer::-webkit-scrollbar {
    /* display: none; */
    display: block;
    height: 1px;
    /* margin-top: ; */
}

#CategoryContainer::-webkit-scrollbar-track {

    background-color: #8faf922c;
    border-radius: 50px;
    overflow: hidden;
}

#CategoryContainer::-webkit-scrollbar-thumb {
    background-color: #00530067;
    border-radius: 50px;
    cursor: grab;
}

#CategoryContainer::-webkit-scrollbar-thumb:active {
    cursor: grabbing;

}

.Clickable {
    cursor: pointer;
    transition-duration: 0.1s;
}

.Clickable:active {
    cursor: default;
}


.cover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.61); 
    top: 0;
}
 