.cardShadow {
    transition-duration:.5s ;
    /* border: 1px solid var(--Color_1); */
    box-shadow: 0 0 26px 6px rgb(0 0 0 / 10%);
}
.cardShadow:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 26px 6px rgb(0 0 0 / 20%);
    border: none;

}
.ProdCard {
    max-width: 300px;
    border-radius: 13px;
}